<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCJShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index">CCJShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>&copy; 2021 - CCJShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                    <p>台北東區實體門市：台北市大安區敦化南路一段177巷37號</p>
                </div>
                <div class=".col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div>
                        <p>週日～週四：14:00-22:00</p>
                        <p>週五&週六：14:00-22:30</p>
                    </div>
                </div>
                <div class=".col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div>
                        <p>官方臉書 ：<a href="https://www.facebook.com/CCJWEAR" target="_blank">CC.J.WeaR</a></p>
                        <p>官方instagram : <a href="https://shopee.tw/cc.j.wear" target="_blank">CC.J.SHOP</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
