/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 14px; /* Vertically center the text there */
    padding-top:20px;
}

/*Own Css*/
.ProdView {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

    .ProdView:hover {
        top: -10px;
    }
/*圖片切割正方形*/
.img-wrap {
    /*    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;*/
    text-align:center;
}

    .img-wrap img, .img-wrap vedio {
        /*position: absolute;
        width: 100%;*/
        max-width:100%;
    }
.carousel-inner {
    border: solid 1px #dadada;
}
/*圖片切割正方形End*/
.carousel-indicators li {
    border-radius: 50%;
    background-clip: border-box;
    border-top: 0px;
    border-bottom: 0px;
    width: 5px;
    height: 5px;
}

.ProdColorSquare {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: solid 1px #aaaaaa;
    line-height: 16px;
    text-align: center;
}

.ProdColor {
    line-height: 40px;
    display:block;
}

.ProdDetail {
    margin-top: 10px;
}
/*數量按鈕*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 3rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
}
.number-input button:hover {
    background-color: #ddd;
}
/*數量按鈕End*/
.btnAddChart {
    position: relative;
    background-color: white;
    border: solid 1px #d2d2d2;
    margin:30px 5px 20px 0px;
    width:8rem;
}

.btnAddChart:hover {
    background-color: #ff7966;
    color: white;
}
/*Tooltips*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ddd;
    color: #393939;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*Tooltips End*/

/*Color Area*/
input[type="color"] {
    -webkit-appearance: none;
    border: solid 1px #aaaaaa;
    width: 32px;
    height: 32px;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: solid 1px #aaaaaa;
    padding: 0;
}
.RemoveColor {
    position:relative;
    top:-10px;
    color:red;
    padding:0px;
}
.RemoveColor:hover {
    text-decoration:underline;
    color: #ff5555;
}
.ColorItem {
    padding-right:0px;
}
/*Color Area End*/
/*Size Area*/
.sizeCode {
    width:20%;
}
.sizeMemo {
    width:60%;
}
.SizeItem {
    display: inline-flex;
}
.RemoveSize {
    position: relative;
    color: red;
}
/*Size Area End*/
/*ImgUpload*/
article {
    width: 100%;
}
.thumbnail {
    margin: 5px;
    width:100px;
}
#result>div {
    display: inline-flex;
    position: relative;
    height: 100px;
    width: 200px;
    vertical-align: text-top;
    overflow: hidden;
    margin-right:20px;
}
#result > div > div > input {
    display: block;
    padding: 0;
}
#result {
    width:100%;
}
.RemoveImg {
    color:red;
}
/*ImgUpload End*/
/*VideoUpload*/
video {
    /*border: 1px solid black;*/
    display: block;
}
/*VideoUpload End*/