@model List<CCJShop.Models.ParamGroupViewModel>
@{
    ViewData["Title"] = "參數設定";
}

<h4>參數設定</h4>
<div>
    <hr />
    @foreach(var item in Model) { 
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => item.GroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.Memo)
        </dd>
    </dl>
    }
</div>